  <main>
       <p>孙全科的博客</p>
       <p>青春将逝，你还在迷茫吗！！！！！ 
         <!-- 我是你生命中的过客，之所以是过客，因为你未曾为我停留！！！ -->
         <!-- 距离，产生的不是美，而是诠释了不堪一击的爱情。 -->
       </p>
     </main> 
        <!-- 导航条开始 -->
     <nav>
        <ul>
          <li><a href="/" >博客首页</a></li>
          <li><a href="/life?type=生活点滴">生活点滴</a></li>
          <li><a href="/it?type=IT成长">IT成长</a></li>
          <li><a href="/successful?type=经典之作">经典之作</a></li>
          <li><a href="/conclusion?type=前端开发">前端开发</a></li>
          <li><a href="/me?type=个人信息" >关于我</a></li>
          <li><a href="/message?type=留言板" >留言板</a></li>
        </ul>
     </nav>
     <footer>
        <p><span class="iconfont shouye-copy">&#xe603;</span><a href="javascript:;">博客首页</a>>>
        <a href="javascript:;"><%= type%></a></p> 
        <p>你的到来，让我倍感荣幸！！！！</p>
     </footer>