<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	    <style type="text/css">
		a{color:#cd0200;text-decoration:none} 
		a:hover{
		  text-shadow:2px 2px 1px  	#87CEFA;
		} 
		  #one{
		     width:330px;
			 height:300px;
			 background-image:url(/img/a10.jpg);
		     position: absolute; 
			 left: 50%;
			 top: 50%;  
             margin:-200px 0 0 -150px;
		  }
		  p{
		     font-size:25px;
			 line-height:40px;
		     text-align:center;
		  }
		   p a{
		     font-size:27px;
			 line-height:40px;
		     text-align:center;
			 color:red;
			 
		  }
		 
		</style>
    </head>
	
    <body>
	  <p> 你可以选择选择进入主页！！！</p>
	  	  <p>**-->>&nbsp;&nbsp<a href="/">进入主页</a>&nbsp;&nbsp;<<--**</p>
	  <div id="one">
	   
	  </div>

    </body>
</html>