<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	    <style type="text/css">
		body{
		background:#C6E2FF;
		opiactiy:0.8;
		}
		a{color:#cd0200;text-decoration:none} 
		a:hover{
		  text-shadow:2px 2px 1px  	#87CEFA;
		} 
		  #one{
		     width:470px;
			 height:300px;
			
		     position: absolute; 
			 left: 50%;
			 top: 50%;  
             margin:-200px 0 0 -200px;
		  }
		  p{
		     font-size:25px;
			 line-height:40px;
			 text-shadow:2px 2px 2px  	#B8B8B8;
		     text-align:center;
		  }
		   p a{
		     font-size:27px;
			 line-height:40px;
		     text-align:center;
			 color:red;
			 
		  }
		 
		</style>
    </head>
	
    <body>
	  <p> 你可以选择选择重新登录！！！</p>
	  	  <p>**-->>&nbsp;&nbsp<a href="/denglu">重新登录</a>&nbsp;&nbsp;<<--**</p>
	  <div id="one">
	     <p>亲！你登录的-&nbsp;-用户名-&nbsp;-不存在！！！</p>
	  </div>

    </body>
</html>