
/* 左边内容 */
#main .main_left{
  min-height:150px;
  width:895px;
  padding-left:10px;
  padding-right:10px;
  float:right;
  box-shadow:2px 0px 3px #EBEBEB; 
}
#main .main_left .left_tab{
	height:170px;
    width:100%;
	padding-left:5px;
	transition:all .8s 0s linear;
    -mo-transition:all .8s 0s linear;
    -o-transition:all .8s 0s linear;
    -webkit-transition:all .8s 0s linear;
    /* border:1px solid red;	 */
	box-shadow:2px 2px 2px #D1EEEE;
	
}
#main .main_left .left_tab:hover{
	/* background-color: 	#B0E2FF; */
	 /* background-color: 	#A4D3EE;   */
	 background-color: 	#D1E9E9;   
	color: #7A7A7A;
}
#main .main_left .left_tab:not(.one){
margin-top:10px;
}

#main .main_left .left_tab .ht{
  font-size:22px;
transition:all 1s 0s linear;
-mo-transition:all 1s 0s linear;
-o-transition:all 1s 0s linear;
-webkit-transition:all 1s 0s linear;
  display:block;
}
#main .main_left .left_tab:hover #ht{
	padding-left:130px;
}


#main .main_left .left_tab  table td{
width:200px;
text-align:center;
font-style:normal;
 
}
/* #main .main_left .left_tab  table span{
} */
#main .main_left .left_tab  table a{
  padding-left:8px;
}
#main .main_left .left_tab .left_o{
	letter-spacing:0.5px;
	text-indent:20px;
	font-family:'宋体';
    font-style:normal;
    font-size:17px;
    cursor:hand;
	
}
#main .main_left .left_tab .left_t{
 font-size:16px;
  background-color:#F4F4F4;
  border-radius:5px;
  width:100px;
  line-height:30px;
  text-align:center;
  box-shadow:1.5px 1.5px 1.5px black;  
  float:right;
  font-weight:bold;
  margin-right:30px;
  cursor:pointer;
	
}
#main .main_left .top_page{
	 height:50px; 
	width:100%;
	margin-top:10px;
	margin-bottom:7px;
	font-style:normal;
	border-top-width:5px;
	border-top-color: #63B8FF;
	/* border:1px solid red; */
	
}
#main .main_left .top_page table {
	float:right;
}
#main .main_left .top_page table span{
	padding:3px 5px 3px 5px; 
	box-shadow:1px 1px 1px #1C86EE;
	border-radius:5px;
	width:55px;
	display:block;
	text-align:center;
	margin-left:3px;
	font-weight:bold;
	background-color:#E5E5E5;
	transition:all 1s;
	-o-transition:all .5s;
	-mo-transition:all .5s;
	-webkit-transition:all .5s;
	
}
#main .main_left .top_page table span:hover{
	 background-color:#CAE1FF; 
	
	color:white;
	text-decoration:none;
	
}
#main .main_left .top_page table a{
	text-decoration:none;
}

/* 右边内容 */
#main .main_right{
  min-height:500px;
  width:280px;
  float:right;
  /* background-color:#EAEAEA; */
}

#main .main_right .main_me{

	height:240px;
	width:280px;
	/* background-color:#EECFA1; */
	/* background:url(../img/bgme.jpg) no-repeat; */
	background-size:280px 280px;
	box-shadow:2px 2px 3px #B2DFEE; 

	
}
#main .main_right .main_me table{
	margin:0 auto;
}
#main .main_right .main_me table a{
	display:block;
	height:30px;
	/* background-color: 	#99CCFF 	; */
	background-color: #D2E9FF	;
	
	box-shadow:2px 2px 2px #00BFFF;
	border-radius:5px;
	margin:5px;
	text-shadow:2px 2px 2px #87CEFA;
	width:80px;
	
	text-align:center;
	line-height:30px;
	
    transition: all 1.5s ease 0s; 
	-moz-transition: all 1.5s ease 0s;
    -webkit-transition: all 1.5s ease 0s;
    -o-transition: all 1.5s ease 0s;
	position:relative;
}

#main .main_right .main_me table a:hover{
	
		transform: rotate(360deg);
}



#main .main_right .main_me .me a{
	margin:0 auto;
	height:140px;
	display:block;
	width:140px;
	text-shadow:2px 2px 1px #CD853F;
	font-weight:bold;
	box-shadow:30px 15px 15px #EAEAEA;
	overflow:hidden;
	background:url(../img/logo.png) no-repeat;
	background-size: 140px 140px; 
	border-radius:70px;
	/* border:1px solid #1E90FF; */
}



#main .main_right .main_me .me a span{
	height:150px;
	width:150px;
	text-align:center;
	color:white;
	display:block;
	/* border:1px solid black; */
	box-shadow:-2px -2px 2px  	DodgerBlue;
	/* background-color: 	#CCEEFF; */
	background-color:#99CCFF;
	margin-top:150px;
    filter:alpha(opacity=70);  
    -moz-opacity:0.7;  
    -khtml-opacity: 0.7;  
    opacity: 0.7;   
	-webkit-transition: margin-top .4s ease-in-out; 
    -moz-transition: margin-top .4s ease-in-out;
    -o-transition: margin-top .4s ease-in-out;  
    transition: margin-top .4s ease-in-out; 
}
#main .main_right .main_me .me a:hover span{
	margin-top:70px;
}
#main .main_right .main_right_bottom{
   min-height:100px;
	width:280px;
	box-shadow:2px 2px 3px #B2DFEE; 
    /* background-color:#F7F7F7; */
	padding-bottom:15px;
	margin-bottom:5px;
}

#main .main_right .main_right_bottom table{
	/* background-color:#EAEAEA; */
	width:100%;
	border-bottom:1px solid  #DCDCDC;

}
#main .main_right .main_right_bottom table span:nth-child(1){
	padding-left:20px;
	
}
#main .main_right .main_right_bottom table span{

	display:block;
	height:20px;
	 padding:5px 10px 5px 10px; 
	width:60px;
	line-height:20px;
	font-size:14px;
	cursor:pointer;
	box-shadow:1px 1px 1px #DCDCDC;

}

 #main .main_right .main_right_bottom table span:hover{
	font-weight:bold;
	color:white;
	text-shadow:2px 2px 3px #808080;
}
 


#main .main_right .page{
	
   min-height:200px;
  width:280px;
  overflow:hidden; 
  transform-style: preserve-3d;
}



#main .main_right .main_right_bottom .main_tab{
	height:400px;
	width:260px;
	margin:0 auto;
	transform-style: preserve-3d;
	box-shadow:1px 1px 1px white;
	animation:spin 1s linear 1;
    -o-transition:spin 1s linear 1;
	-mo-transition:spin 1s linear 1;
	-webkit-transition:spin 1s linear 1;

}	

/* 
#main .main_right .main_right_bottom .main_tab:hover{
    animation:spin 1.2s linear 1;
}  */

#main .main_right .main_right_bottom .main_tab .tab_page{
	height:100px;
	width:250px;
	margin-top:5px;
	margin-left:5px;
	box-shadow:1px 1px 1px #A9A9A9;
   -webkit-transition: all 0.4s ease-in; 
	-moz-transition: all 0.4s ease-in; 
	-o-transition: all 0.4s ease-in; 
	transition: all 0.4s ease-in;  

}

#main .main_right .main_right_bottom .main_tab .tab_page:hover{
	padding-left:10px;
	background-color:#DBDBDB;
	
}

/* #main .main_right .main_right_bottom .main_tab .tab_page:nth-child(4){

	height:130px;
	
}
 */

#main .main_right .main_right_bottom .main_tab .tab_page .tab_img{
	height:90px;
	width:90px;	
	float:left;
	margin-left:5px;
	margin-top:10px;

	/* border:1px solid red; */
}
#main .main_right .main_right_bottom .main_tab .tab_page .tab_img:hover img{
	
-moz-transform: scale(1.1); 
-webkit-transform: scale(1.1); 
-o-transform: scale(1.1);
 -ms-transform: scale(1.1);
}
#main .main_right .main_right_bottom .main_tab .tab_page .tab_img img{
	height:80px;
	width:80px;	
    -webkit-transition: all 1s; 
    -moz-transition: all 1s; 
    -o-transition: all 1s;
    transition: all 1s;

}
#main .main_right .main_right_bottom .main_tab .tab_page .tab_new{
	height:100px;
	padding-top:5px;

	width:150px;	
	float:right;
	/* border:1px solid blue; */
}
#main .main_right .main_right_bottom .main_tab .tab_page .tab_new p{
 font-size:13px;
 color:#858585;
 height:34px;
 letter-spacing:1px;
 line-height:17.5px;
 overflow: hidden;
 
}
#main .main_right .main_right_bottom .main_tab .tab_page .tab_new .time{
 font-size:14px;
 color:#6B6B6B;
}



